.block2 .c1 img.high{
	height: 280px;
	width: 250px;
}
.block2 .c1 img.normal{
	height: 210px;
	width: 280px;
}
.block2 .c1 img.square{
	height: 250px;
	width: 270px;
}
.block2 .c1 img.wide{
	height: 260px;
	width: 270px;
}