.block2 .c1 img.wide{
	height: 190px;
	width: 280px;
}
.block2 .c1 img.wide2{
	height: 160px;
	width: 280px;
}
.block2 .c1 img.wide3{
	height: 180px;
	width: 280px;
}
.block2 .c1 img.wide4{
	height: 140px;
	width: 290px;
}
.block2 .c1 img.square{
	height: 180px;
	width: 180px;
}
.block2 .c1 img.high{
	height: 270px;
	width: 250px;
}