body, html {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	min-width: 960px;
	font-family: Arial;
	overflow-y: none;
	/* height: 2000px; */
}

h2 {
	font-size: 21px;
	margin: 0 0 34px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #8993ad;
}

label {
		display: block;
		font-size: 16px;
		color: #8993ad;
		margin-bottom: 10px;
	}

#popup-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	/* opacity: 0.7; */
	z-index: 2;
}

	#popup {
		width: 0; /*400px*/
		height: 0; /*700px*/
		background-color: #fff;
		margin: 40px auto;

		font-size: 32px;
	}

.container {
	overflow: hidden;
	width: 960px;
	margin: 65px auto 155px;
}

#task-list, #adder-task {
	width: 470px;
}

#task-list {
	float: left;
}

.task {
	width: 470px;
	min-height: 0;
	background-color: #fff;
	margin-bottom: 20px;
}
	
	.main-row {
		padding: 18px 20px;
		border-bottom: 1px solid #f7f7f7;
	}

		.name-task {
			display: inline-block;
			margin: 0;
			margin-right: 22px;
		}

		.del-task {
			height: 10px;
			width: 10px;
		}

		.expand-task, .roll-up-task {
			float: right;
			height: 10px;
			width: 10px;
		}
		
		.roll-up-task {
			display: none;
		}

	.description-task {
		display: none;
		padding: 0 20px 18px;
	}


#adder-task {
	/* float: right; */
	left: 20px;
	display: inline-block;
	position: relative;
}

.wrapper {
	/*height: 440px;*/
	padding: 30px 40px 35px;
	background-color: #fff;
}

	#new-name-task, #new-description-task {
		height: 39px;
		width: 370px;
		padding: 0 10px;
		background-color: #fcfcfc;
		border: 1px solid #ebebeb;
		margin-bottom: 30px;
	}

	#new-description-task {
		padding: 10px;
		height: 230px;
		resize: none;
	}

	#button-add-task {
		background-color: #2174fd;
		color: #fff;
		border: 1px solid #2174fd;
		padding: 20px 56px;
		font-size: 16px;
	}

	#button-add-task:focus {
		background-color: #1c62d7;
	}

#box {
	overflow: hidden;
	width: 960px;
	margin: 0 auto 20px;
}
	#plan {
		font-size: 24px;
	}