.editor{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-color: #282828;
    border: 1px solid #282828;
    margin-top: 50px;
    transition: 0.2s;
}

.editor:hover{
    background-color: #fff;
    border: 1px solid #282828;
    color: #000;
    transition: 0.3s;
}